.table-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.create-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 8px 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    font-size: 20px;
}

.create-button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    overflow: hidden;
}

th {
    text-align: center;
    color: white;
    background-color: #06437c;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.update-button,
.delete-button,
.delete-image-button {
    border: 1px solid black;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
}

.delete-image-button {
    background-color: white;
    color: black;
}

.delete-image-button:hover {
    background-color: #c51e1b;
}

.update-button {
    background-color: white;
    color: black;
}

.update-button:hover {
    background-color: #f6e721;
}

.delete-button {
    background-color: white;
    color: black;
}

.delete-button:hover {
    background-color: #c51e1b;
}

.search-create {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.search-create input {
    width: 300px;
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 8px;
}

.action-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.table-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
}

.table-image:hover {
    transform: scale(1.1);
}

.expanded-details-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
}

.expanded-details-wrapper.open {
    max-height: 400px;
    /* Ajusta el valor según el tamaño máximo esperado del contenido */
    padding: 10px;
}

.expanded-details {
    text-align: left;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.na-value {
    color: #d72525;
    /* Un color distinto, como rojo suave */
    font-weight: bold;
    background-color: #ffe6e2;
    /* Un fondo suave */
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.pagination-controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-controls span {
    font-weight: bold;
}

.button-container {
    display: flex;
    gap: 5px;
}

.search-create select {
    padding: 8px;
    border: 1px solid #007bff;
    border-radius: 4px;
    margin-right: 10px;
}